<div class="page">
<h1>All #Hashtags</h1>

<% @hashtags.each do |hashtag| %>
<p>
<% string = '#'+ hashtag.text %> 
<%= link_to string, hashtag_path(hashtag) %>
</p>

<%end%>

<%= link_to 'Back', photos_path %>
<div class="page">