<div class="page">
<% @photos.each do |photo| %>
<p>
<%= link_to image_tag(photo.avatar.url(:medium)), photo_path(photo) %>
<p>
<%= photo.caption %>
</p>

<p>
<% photo.hashtags.each do |hashtag| %>
<% string = '#'+ hashtag.text %> 
<%= link_to string, hashtag_path(hashtag) %>
<% end %>
</p>

</div>

<%end%>

